* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Anton;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

#image-container {
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: left;
}

#image-container img {
    max-width: 30%;
    max-height: 30%;
}

.text-class {
    position: absolute;
    top: 50%;
    left: 24%;
    max-width: 50%;
    font-size: 400%;
    font-family: Anton;
    color: rgb(255, 255, 255);
    text-align: center;
}

.hometext {
    position: fixed;
    top: 2%;
    left: 1%;
    font-family: Anton;
    color: rgb(255, 255, 255);
}

.about {
    position: fixed;
    top: 110%;
    left: 10%;
    font-family: Anton;
    color: rgb(255, 255, 255);
}

#navbar {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -13%;
    height: 8%;
    line-height: 60px;
    width: 100%;
    z-index: 10;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-top: -2px;
    width: 100%;
    transition: transform 0.5s ease-out;
}

#navbar li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-family: Anton;
}

#navbar li:last-child {
    margin-right: 0;
}

#navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1em;
    height: 100%;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(255, 255, 255);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: rgb(255, 255, 255);
    right: 0;
}

#navbar li a:hover:before {
    background: rgb(255, 255, 255);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
}

.head-tag1 {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 45%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Anton;
    font-size: 200%;
    font-stretch: normal;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.head-tag2 {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 45%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Anton;
    font-size: 200%;
    font-stretch: normal;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.head-tag3 {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 45%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Anton;
    font-size: 200%;
    font-stretch: normal;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.head-tag4 {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 45%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Anton;
    font-size: 200%;
    font-stretch: normal;
    font-style: Regular;
    font-weight: 400;
    text-decoration: none;
}

.about-image {
    max-width: 40%;
    max-height: 40%;
    display: block;
}

.corner-container {
    position: relative; 
    top: 35%;
    left: 10%;
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
}

.about-text {
    max-width: 100%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 65%;
    transform: translateX(-50%);
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 600;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-size: max(1.5vw, 1.5vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-container{
    position: relative; 
    top: 20%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.features-head1{
    max-width: 50%;
    max-height: 20%;
    display: block;
    text-align: left;
    position: absolute;
    top: 5%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1.5vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text1{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-head2{
    max-width: 50%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 5%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text2{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-head3{
    max-width: 50%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text3{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-head4{
    max-width: 50%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text4{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-head5{
    max-width: 50%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text5{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-head6{
    max-width: 50%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 10%;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.5vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.features-text6{
    max-width: 80%;
    max-height: 5%;
    display: block;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 15%;
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 700;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: max(1.2vw, 1vh);
    line-height: normal;
    color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.container {
	background-color: #3C3C3C;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	top: 25%;
	left: 23%;
	overflow: hidden;
	width: 50%;
	max-width: 100%;
	height: 50%;
}

.h1class{
    position: absolute;
    top: 5%;
	font-weight: lighter;
	margin: 0;
    text-align: center;
}

.h2class{
	text-align: center;
}

.pclass{
    max-width: 100%;
    max-height: 0%;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-stretch: normal;
    font-style: semiBold;
    font-weight: 600;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-size: max(0.9vw, 0.9vh);
    line-height: normal;
    color: rgb(7, 5, 5);
}

span {
	font-size: 12px;
    color: white;
}

.aclass{
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid white;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
    position: absolute;
    bottom: 7%;
	background-color: transparent;
    border: 2px solid black;
}

form {
	background-color: #3C3C3C;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #FFFFFF;
	border: black;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.sign-in-container-inputs{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: white;
	background: -webkit-linear-gradient(to right, black, black);
	background: linear-gradient(to right, white, white);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: black;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.how-container{
    position: relative; 
    top: 20%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.how-text{
    position: absolute;
    top: 20%;
    left: 27%;
    max-width: 50%;
    font-weight: 300;
    font-size: max(1.5vw, 1.5vh);
    font-family: 'IBM Plex Sans';
    font-weight: lighter
}
