.x-axis-labels text {
    transform: translate(-10px, 0) rotate(-90deg);
    text-anchor: end;
}

#top-engagement-videos {
    list-style-type: none;
    padding: 0;
}

#top-engagement-videos li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: black;
}

#top-engagement-videos h3 {
    font-size: 18px;
    margin: 0;
    font-weight: lighter;
}

#top-engagement-videos p {
    margin: 5px 0;
}

#top-engagement-videos p {
    font-weight: lighter;
}

#top-engagement-videos p.likes {
    color: #4CAF50;
}

#top-engagement-videos p.comments {
    color: #2196F3;
}

#top-engagement-videos p.total-engagement {
    color: #FF5722;
}
